<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @univer.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @univer.user %>
</p>

<%= link_to 'Edit', edit_univer_path(@univer) %> |
<%= link_to 'Back', univers_path %>
